@import "./colors.scss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: $col_blue;
  position: fixed;
  width: 100%;
  top: 0;

  .container {
    margin: 0 auto;

    .navbar-brand {
      float: left;
      padding: 20px;
      color: white;
      font-size: 30px;
      text-decoration: none;
    }

    nav {
      float: right;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-right: 20px;
          padding-top: 25px;
          position: relative;

          a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
          }

          a:hover {
            color: #fff;
          }

          a:before {
            content: '';
            display: block;
            height: 5px;
            width: 100%;
            background-color: white;
            position: absolute;
            top: 0;
            width: 0;
            transition: all ease-in-out 250ms;
          }

          a:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
}

.frame {
  margin: 0 auto;
}

.container-1 {
  height: 400px;
  display: flex;
  text-align: center;

  .row {
    margin: auto;

    h1 {
      color: $col_orange1;
    }

    a {
      height: 60px;
      width: 200px;
      font-size: 20px;
      text-decoration: none;
      text-transform: uppercase;
      transform-style: preserve-3d;
      position: relative;
      transition: 0.5s;
      display: inline-block;
      white-space: pre;
    }

    a::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      font-weight: bold;
      padding: 15px 40px;
      background: $col_blue;
      color: $col_white;
      transition: 0.25s;
      transform-origin: right;
      transform: translateX(-100%) rotateY(90deg);
    }

    a::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      font-weight: bold;
      padding: 15px 40px;
      background: $col_orange1;
      color: $col_white;
      transition: 0.25s;
      transform-origin: left;
      transform: translateX(0) rotateY(0deg);
    }
  }
}

.container-2 {
  padding: 0 10px;

  .feature {
    text-align: center;

    i {
      color: $col_blue;
      font-size: 3rem;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .frame {
    width: 576px;
  }
  //Enabling animation for resolutions 576px and above.
  .container-1 {
    .row {
      a:hover::before {
        transform: translateX(0) rotateY(0deg);
      }

      a:hover::after {
        transform: translateX(100%) rotateY(90deg);
      }
    }
  }

  .container-2 {
    display: flex;
    justify-content: space-between;

    .feature {
      flex: 30%;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container,
  .frame {
    width: 768px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container,
  .frame {
    width: 992px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container,
  .frame {
    width: 1200px;
  }
}
