@import 'fonts';
@import 'colors';
@import 'mixins';

body {
  font-family: $ff;
  margin: 0;
}

h1 {
  color: $col_orange1;
  font-size: 4rem;
}

i {
  color: $col_blue;
  font-size: 3rem;
}

button {
  @include border-radius(10px);
  background-color: $col_orange1;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 50px;
  font-size: 1rem;
}

button:hover {
  background-color: $col_blue;
}

header {
  background-color: $col_blue;
  position: fixed;
  width: 100%;
  top: 0;
}
// header::after {
//   content: '';
//   display: table;
//   clear: both;
// }

footer {
  .section1 {
    background-color: $col_orange1;
  }

  .section2 {
    background-color: $col_orange2;
  }
}

.container {
  margin: 0 auto;

  .navbar-brand {
    float: left;
    padding: 20px;
    color: white;
    font-size: 30px;
    text-decoration: none;
  }

  nav {
    float: right;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 20px;
        padding-top: 25px;
        position: relative;

        a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 18px;
        }

        a:hover {
          color: #fff;
        }

        a:before {
          content: '';
          display: block;
          height: 5px;
          width: 100%;
          background-color: white;
          position: absolute;
          top: 0;
          width: 0;
          transition: all ease-in-out 250ms;
        }

        a:hover::before {
          width: 100%;
        }
      }
    }
  }
}

.grid1 {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.container-1 {
  align-items: center;
  height: 250px;
  padding: 20px;

  div {
    text-align: center;

    h1 {
      font-size: 2rem;
    }
  }
}

.container-2 {
  text-align: center;

  div {
    padding: 20px;

    p {
      text-align: left;
    }
  }
}

.container-3 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

  .box-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .box-6,
  .box-7 {
    padding-left: 20px;
    padding-right: 20px;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        text-align: left;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.base {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}
// Small devices (landscape phones, 576px and up)
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;

    nav {
      float: right;

      ul li {
        margin-left: 30px;
      }
    }
  }

  .grid1 {
    width: 768px;
    padding-top: 0;
  }

  .container-1 {
    display: flex;
    height: 400px;
    padding: 0;
  }

  .container-2 {
    display: flex;

    div {
      flex: 1;
    }
  }

  .container-3 {
    display: flex;
    width: 768px;
    padding-top: 0;
    padding-bottom: 0;

    .box-5 {
      flex: 2;
      padding: 20px;
    }

    .box-6,
    .box-7 {
      flex: 1;
    }
  }

  .base {
    width: 768px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    width: 1200px;

    nav ul li {
      margin-left: 30px;
    }
  }

  .grid1 {
    width: 1200px;
  }

  .container-1 {
    display: flex;
    height: 400px;

    div {
      flex: 1;
    }
  }

  .container-2 {
    display: flex;

    div {
      flex: 1;
    }
  }

  .container-3 {
    display: flex;
    width: 1200px;

    .box-5 {
      flex: 2;
      padding: 10px;
    }

    .box-6,
    .box-7 {
      flex: 1;

      ul li {
        list-style-type: none;
        text-align: left;
      }
    }
  }

  .base {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
