body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #fa8600;
  font-size: 4rem;
}

i {
  color: #278ce2;
  font-size: 3rem;
}

button {
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: #fa8600;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 50px;
  font-size: 1rem;
}

header {
  background-color: #278ce2;
  height: 80px;
}

footer .section1 {
  background-color: #fa8600;
}

footer .section2 {
  background-color: #e89254;
}

@media (min-width: 1200px) {
  .grid1 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-1 {
    display: flex;
    align-items: center;
    height: 400px;
  }
  .container-1 div {
    flex: 1;
    text-align: center;
  }
  .container-2 {
    display: flex;
    text-align: center;
  }
  .container-2 div {
    flex: 1;
    padding: 20px;
  }
  .container-2 div p {
    text-align: left;
  }
  .container-3 {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
  .container-3 .box-5 {
    flex: 2;
  }
  .container-3 .box-6, .container-3 .box-7 {
    flex: 1;
  }
  .container-3 .box-6 ul li, .container-3 .box-7 ul li {
    list-style-type: none;
    text-align: left;
  }
  .base {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  .base a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}
