body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #29b6f6;
  position: fixed;
  width: 100%;
  top: 0;
}

header .container {
  margin: 0 auto;
}

header .container .navbar-brand {
  float: left;
  padding: 20px;
  color: white;
  font-size: 30px;
  text-decoration: none;
}

header .container nav {
  float: right;
}

header .container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header .container nav ul li {
  display: inline-block;
  margin-right: 20px;
  padding-top: 25px;
  position: relative;
}

header .container nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

header .container nav ul li a:hover {
  color: #fff;
}

header .container nav ul li a:before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  width: 0;
  transition: all ease-in-out 250ms;
}

header .container nav ul li a:hover::before {
  width: 100%;
}

.frame {
  margin: 0 auto;
}

.container-1 {
  height: 400px;
  display: flex;
  text-align: center;
}

.container-1 .row {
  margin: auto;
}

.container-1 .row h1 {
  color: #ff9800;
}

.container-1 .row a {
  height: 60px;
  width: 200px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: preserve-3d;
  position: relative;
  transition: 0.5s;
  display: inline-block;
  white-space: pre;
}

.container-1 .row a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  padding: 15px 40px;
  background: #29b6f6;
  color: #fff;
  transition: 0.25s;
  transform-origin: right;
  transform: translateX(-100%) rotateY(90deg);
}

.container-1 .row a::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  padding: 15px 40px;
  background: #ff9800;
  color: #fff;
  transition: 0.25s;
  transform-origin: left;
  transform: translateX(0) rotateY(0deg);
}

.container-2 {
  padding: 0 10px;
}

.container-2 .feature {
  text-align: center;
}

.container-2 .feature i {
  color: #29b6f6;
  font-size: 3rem;
}

footer .container-3 .row-1 {
  background-color: #ff9800;
}

footer .row-2 {
  background-color: #ee8f04;
  padding: 20px;
}

footer .row-2 a {
  text-decoration: none;
  color: #fff;
}

.container-3 {
  margin: 0 auto;
  color: #fff;
}

.container-3 .row-1 {
  padding: 20px;
}

.container-3 .row-1 ul {
  margin: 0;
  padding: 0;
}

.container-3 .row-1 ul li {
  list-style-type: none;
  text-align: left;
}

.container-3 .row-1 ul li a {
  text-decoration: none;
  color: white;
}

.container-3 .bio {
  padding: 0 20px;
}

.container-3 .row-1 .links {
  padding-left: 20px;
  padding-right: 20px;
}

.container-3 .row-1 .links ul {
  margin: 0;
  padding: 0;
}

.container-3 .row-1 .links ul li {
  list-style-type: none;
  text-align: left;
}

.container-3 .row-1 .links ul li a {
  text-decoration: none;
  color: white;
}

@media (min-width: 576px) {
  .frame {
    width: 576px;
  }
  .container-1 .row a:hover::before {
    transform: translateX(0) rotateY(0deg);
  }
  .container-1 .row a:hover::after {
    transform: translateX(100%) rotateY(90deg);
  }
  .container-2 {
    display: flex;
    justify-content: space-between;
  }
  .container-2 .feature {
    flex: 30%;
  }
}

@media (min-width: 768px) {
  .container,
  .frame {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .container,
  .frame {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .container,
  .frame {
    width: 1200px;
  }
}
